.institucional {
    width: 100%;
    height: auto;
    float: left;
}

.institucional .impressora {
    width: 39px;
    height: 35px;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 2px;
    background: #b6bdc0 url(../../images/impressora.png) no-repeat center center;
}

.institucional .impressora:hover {
    background: #848788 url(../../images/impressora.png) no-repeat center center;
}

.institucional .botoes-interagir {
    width: 100%;
    height: 75px;
    float: left;
    padding-top: 20px;
}

.institucional p {
    font-size: 15px;
}


institucional .links-aside a,
institucional .links-aside a:hover,
institucional .links-aside a.selecionado,
.institucional .ir-topo:hover span,
.institucional .ir-topo:hover,
.institucional .ir-topo span,
.institucional .ir-topo,
.institucional .impressora:hover,
.institucional .impressora {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

@media (max-width: 1199px) {}

@media (max-width: 991px) {
    .institucional .pl-35 {
        padding-left: 20px;
    }
}

@media (max-width: 767px) {
    .institucional h2 {
        width: calc(100% - 55px);
        font-size: 20px;
        margin-bottom: 10px;
    }
    .institucional p {
        font-size: 14px;
    }
    .institucional ul{
        padding-left: 20px;
    }
}

@media print {

    header, footer {
       display:none;
    }

    .removerImpressao{display: none;}
    .impressao100{width:100% !important;}
    #Header, #Footer { display: none !important; }

}