.assine{
	width: 100%; height: auto;
	float: 	left;
	background-color: #bd0d14;
	border-top: 10px solid #f37d81;
}

.assine .box-novidades{
	width: 485px; height: 75px;
	float: left;
	margin: 40px 0;
}

.assine .box-novidades h2{
	font-size: 24px;
	color: #ffffff;
	font-family: "intro-black";
	text-transform: uppercase;
	margin: 15px 0 0 0;
}

.assine .box-novidades p{
	font-size: 18px;
	color: #ff9094;
	font-family: 'open-sans';
}

.assine .box-sociais{
	width: 250px; height: 75px;
	margin: 40px 0;
	float: left;
}

.assine .box-sociais li{
	list-style: none;
	display: inline-block;
	width: 39px; height: 37px;
	margin-top: 25px;
	overflow: hidden;
}

.assine .box-sociais li:last-child{
	margin-left: 8px;
	width: 49px;
}

.assine .box-sociais li a{
	width: 100%; height: auto;
	float: left;
	display: block;
}

.assine .box-sociais li a:hover img{
	margin-top: -37px;
}

.assine .box-envie{
	width: 360px; height: 75px;
	float: right;
	position: relative;
	margin: 40px 0;
}

.assine .box-envie input{
	width: 340px; height: 75px;
	float: left;
	border-radius: 40px;
	background-color: #ffffff;
	border: none;
	padding-left: 35px;
	font-size: 18px;
	color: #1b1d5e;
	font-family: 'open-sans';
}

.assine .box-envie button{
	width: 90px; height: 75px;
	float: right;
	border-radius: 40px;
	background: #1b1d5e url('../images/bg-white.jpg') no-repeat left -120px top;
	border: none;
	position: absolute;
	right: 0;
	font-size: 25px;
	color: #9acaff;
	font-family: 'intro-black';
}

.assine .box-envie button:hover{
	background: #1b1d5e url('../images/bg-white.jpg') no-repeat left 0px top;
	color: #970b11;
}

.assine .box-envie button:hover,
.assine .box-envie button,
.assine .box-sociais li a:hover img,
.assine .box-sociais li a img{
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}


/* ____________________Media queries____________________ */

@media (max-width: 1199px){

.assine .box-novidades h2{
	font-size: 20px;
}

.assine .box-novidades{
	width: 375px;
}

.assine .box-envie input{
	height: 60px;
}

.assine .box-envie button{
	height: 60px;
}

.assine .box-envie input,
.assine .box-envie{
	width: 310px;
}

.assine .box-sociais li{
	margin-top: 20px;
}

.assine .box-envie{
	margin-top: 46px;
}

}
@media (max-width: 992px){

.assine .box-novidades {
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}

.assine .box-novidades h2 {
    font-size: 25px;
}

.assine .box-envie,
.assine .box-sociais{
	margin: 20px 0;
}

.assine .box-sociais li{
   margin-top: 13px;
}

.assine .box-envie input, 
.assine .box-envie {
    width: 350px;
}

}
@media (max-width: 767px){

.assine .box-novidades h2 {
    font-size: 22px;
}

.assine .box-sociais{
	position: relative;
	left: 50%;
	margin: 10px 0 10px -134px;
}

.assine .box-envie input, .assine .box-envie {
    width: 300px;
}

.assine .box-envie{
	position: relative;
	right: 50%;
	margin: 0px -150px 20px 0;
	clear: both;
}

.assine .box-novidades{
	height: auto;
}


}