.banner{
	width: 100%; height: 639px;
	float: left;
	overflow: hidden;
}

.banner ul#banner{
	margin: 0; padding: 0;
	width: 100%; height: 639px;
	float: left;
}

.banner ul#banner li{
	width: 100%; height: 639px;
	float: left;
	list-style: none;
	display: inline-block;
}

.banner ul#banner li a{
	width: 100%; height: 639px;
	float: left;
	background: url('../../images/banner-01.png') no-repeat center top;
}

.banner ul#banner li a.segundo{
	background: url('../../images/banner-02.jpg') no-repeat center top;	
}



/* ____________________Media queries____________________ */

@media (max-width: 1199px){




}
@media (max-width: 992px){





}
@media (max-width: 767px){

.banner,
.banner ul{
	height: 360px;
}


}











