.destinos{
	width: 100%; height: auto;
	float: left;
	background: url('../../images/destinos-bg-home.png') no-repeat center top;
	padding-bottom: 75px;
}

.destinos h2{
	width: 100%; height: auto;
	float: 	left;
	display: block;	
	font-size: 30px;	
	color: #e80f17;
	font-family: 'intro-bold';
	text-align: center;
	letter-spacing: 10px;
	margin-top: -15px;
	position: relative;	
	z-index: 10;
}

.destinos h3{
	width: 100%; height: auto;
	float: 	left;
	display: block;	
	font-size: 24px;	
	color: #1b1d5e;
	font-family: 'open-sans-italic';
	text-align: center;
	margin-top: 0;
	position: relative;	
	z-index: 10;
}

.destinos a.globo{
	width: 100%; height: auto;
	float: left;
	text-align: center;
	position: relative;
}

.destinos a.globo img{
	margin-top: -120px;
}

.destinos .box-destinos{
	width: 270px; height: 270px;	
	float: left;
	background-color: #ffffff;
	margin-top: 70px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	overflow: hidden;
}

.destinos .box-destinos figure{
	width: 275px; height: 200px;	
	float: left;
	position: relative;
}

.destinos .box-destinos figure a{
	width: 100%; height: 200px;
	display: block;	
	background-color: transparent;
}

.destinos .box-destinos figure img.mask{
	width: 270px; height: auto;
	position: absolute;
	bottom: 0;
	z-index: 10;
}

.destinos .box-destinos figure img{
	width: auto; height: 100%;
	float: left;
}

.destinos .box-destinos .box-cont-dest{
	width: 100%; height: auto;
	float: left;
	padding: 0 30px;
	position: relative;
}

.destinos .box-destinos .box-cont-dest a.tit{
	font-size: 15px;
	color: #e80f17;
	font-family: 'open-sans-bold';
	text-transform: uppercase;
	margin-top: -10px;
    display: block;
    position: relative;
    z-index: 10;
}

.destinos .box-destinos .box-cont-dest a.tit span{
	font-size: 23px;
	color: #1b1d5e;
	font-family: 'intro-black';
	text-transform: uppercase;
}

.destinos .box-destinos .box-cont-dest a.tit:hover{
	text-decoration: none;
}


/* ____________________Media queries____________________ */

@media (max-width: 1199px){

.destinos .box-destinos{
	width: 204px; height: 200px;
}

.destinos .box-destinos figure,
.destinos .box-destinos figure a{
	width: 204px; height: 150px;
}

.destinos .box-destinos figure a img{
	width: 100%;
}

.destinos .box-destinos .box-cont-dest{
	padding: 0 20px;
}

.destinos .box-destinos .box-cont-dest a.tit{
	margin-top: -20px;
}

.destinos .box-destinos .box-cont-dest a.tit span{
	font-size: 21px;
}

}
@media (max-width: 992px){

.destinos{
	background-color: #e8e8e8;
}

.destinos h2{
	font-size: 22px;
	margin-top: -12px;
}

.destinos h3{
	font-size: 20px;
}

.destinos a.globo img{
	width: 100px;
}

.destinos .box-destinos{
	margin-top: 40px;
}

.destinos .box-destinos{
    width: 274px;
    height: 270px;
        position: relative;
    left: 50%;
    margin-left: -137px;
}

.destinos .box-destinos figure, .destinos .box-destinos figure a {
    width: 274px;
    height: 210px;
}

.destinos{
	padding-bottom: 50px;
}




}
@media (max-width: 767px){

.destinos h2 {
    margin-top: 40px;
    letter-spacing: 0;
}

.destinos h3{
	margin-top: -10px;
	font-size: 18px;
}

.destinos a.globo img {
    width: 80px;
}

.destinos .box-destinos {
    margin-top: 20px;
}



}