.destaques{
	width: 100%; height: 870px;
	float: left;
	background: #f3f3f3 url('../../images/destaques-home.png') no-repeat center top;
	padding: 55px 0 60px 0;
	position: relative;
}

.destaques h2{
	font-size: 46px;
	color: #ffffff;
	font-family: 'intro-book';
	width: 100%; height: auto;
	float: left;
	text-align: center;
	letter-spacing: 10px;
	margin: 0;
}

.destaques h3{
	font-size: 24px;
	color: #9acaff;
	font-family: 'open-sans-italic';
	width: 100%; height: auto;
	float: left;
	text-align: center;
	margin-top: 0;
}

.destaques h3 span:after{
	content: url('../../images/airplan-icon.png');
	position: relative;
	top: 7px;
}

.destaques .box-destaques{
	float: left;
	background-color: #ffffff;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	overflow: hidden;
	position: relative;
}

.destaques .box-destaques .cont{
	padding: 30px;
}

.destaques .box-destaques .cont a{
	font-size: 26px;
	color: #1b1d5e;
	font-family: 'intro-black';
}

.destaques .box-destaques.centro .cont a{
	font-size: 30px;
}

.destaques .box-destaques .cont a:hover{
	text-decoration: none;
	color: #060840;
}

.destaques .box-destaques p.destino{
	font-size: 17px;
	color: #e80f17;
	font-family: 'open-sans-bold';
}

.destaques .box-destaques.centro p.destino{
	font-size: 20px;
}

.destaques .box-destaques p.desc{
	font-size: 15px;
	color: #1b1d5e;
	font-family: 'open-sans';
}

.destaques .box-destaques.centro p.desc{
	font-size: 17px;
}

.destaques .box-destaques p.descm span{
	font-family: 'open-sans-bold';
}

.destaques .box-destaques p.valor{
	font-size: 25px;
	color: #e80f17;
	font-family: 'open-sans-bold';
	float: right;
}

.destaques .box-destaques.centro p.valor{
	font-size: 28px;
}

.destaques .box-destaques p.valor span{
	font-size: 36px;
}

.destaques .box-destaques.centro p.valor span{
	font-size: 42px;
}

.destaques .box-destaques figure{
 	width: 340px; height: 230px;
 	float: left;
 	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	position: absolute;
	bottom: 0;
}

.destaques .box-destaques.direita figure{
	background:  url('../../images/tmp/dest-01.jpg') no-repeat center center;
	background-size: cover;
}

.destaques .box-destaques.centro figure{
	background:  url('../../images/tmp/dest-01.jpg') no-repeat center center;
	background-size: cover;
}

.destaques .box-destaques.esquerda figure{
	background:  url('../../images/tmp/dest-01.jpg') no-repeat center center;
	background-size: cover;
}

.destaques .box-destaques.centro figure{
	width: 375px; height: 260px;
	float: left;
}

.destaques .box-destaques figure a{
	width: 100%; height: 100%;
	display: block;
	text-align: center;
}

.destaques .box-destaques figure a:hover{
	background-color: rgba(0,0,0,0.2);
}

.destaques .box-destaques figure a img{
	width: 100%; height: auto;
	float: left;
}

.destaques .box-destaques figure a span{
	background-color: #e80f17;
	border-radius: 20px;
	font-size: 18px;
	color: #ffffff;
	font-family: 'open-sans';
	padding: 8px 40px;
	position: relative;
    bottom: -80px;
}

.destaques .box-destaques.centro figure a span{
	font-size: 20px;
	bottom: -110px;
}

.destaques .box-destaques figure a:hover{
	text-decoration: none;
}

.destaques .box-destaques.esquerda{
	width: 340px; height: 460px;
	margin:80px 0 0 20px;
}

.destaques .box-destaques.centro{
	width: 370px; height: 530px;
	margin-top: 45px;
	box-shadow: 1px 1px 13px rgba(0,0,0,0.4);
}

.destaques .box-destaques.direita{
	width: 340px; height: 460px;
	float: right;
	margin: 80px 20px 0 0;
}

.destaques .box-destaques .cont a:hover,
.destaques .box-destaques .cont a,
.destaques .box-destaques figure a:hover,
.destaques .box-destaques figure a{
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

/* ____________________Media queries____________________ */

@media (max-width: 1199px){

.destaques .box-destaques.esquerda{
	width: 280px;
	margin-left: 0;
}
.destaques .box-destaques.direita{
	width: 280px;
	margin-right: 0;
}

.destaques .box-destaques.centro{
	width: 310px;
	margin-left: -8px;
}

.destaques .box-destaques figure,
.destaques .box-destaques.centro figure{
	width: 100%; 
}



}
@media (max-width: 992px){

.destaques{
	padding-top: 40px;
	height: 780px;
}

.destaques h2{
	font-size: 36px;
}

.destaques .box-destaques .cont a{
	font-size: 19px;
}

.destaques .box-destaques.centro .cont a{
	font-size: 21px;
}

.destaques .box-destaques p.destino {
    font-size: 14px;
}

.destaques .box-destaques.centro p.destino {
    font-size: 15px;
}

.destaques .box-destaques p.destino {
    font-size: 13px;
}

.destaques .box-destaques.centro p.destino {
    font-size: 13px;
}

.destaques .box-destaques.centro p.valor {
    font-size: 16px;
}

.destaques .box-destaques p.valor {
    font-size: 15px;
}

.destaques .box-destaques.centro p.valor span{
    font-size: 24px;
}

.destaques .box-destaques p.valor span{
    font-size: 22px;
}

.destaques .box-destaques.esquerda,
.destaques .box-destaques.direita{
	width: 215px;
	height: 400px;
}

.destaques .box-destaques.centro{
	width: 237px; height: 470px;
	margin-left: -8px;
}

.destaques .box-destaques figure, 
.destaques .box-destaques.centro figure{
	height: 180px;
}

.destaques .box-destaques.centro figure a span {
    bottom: -70px;
}


}
@media (max-width: 767px){

.destaques{
	background: #1b1d5e;
	height: 1370px;
}

.destaques h2 {
    font-size: 24px;
    letter-spacing: 0;
}

.destaques h3{
	font-size: 17px;
}

.destaques h3 span::after{
	position: absolute;
	left: 50%;
	top: 95px;
	margin-left: -44px;
}

.destaques .box-destaques.esquerda,
 .destaques .box-destaques.direita {
    width: 250px;
    height: 370px;
    position: relative;
    left: 50%;
    margin-left: -125px;
    float: left;
    margin-top: 20px;
}

.destaques .box-destaques.esquerda{
	margin-top: 80px;
}

.destaques .box-destaques.centro {
    width: 280px;
    height: 370px;
    position: relative;
    left: 50%;
    margin-left: -140px;
    margin-top: 20px;
}

.destaques .box-destaques .cont {
    padding: 18px;
}

.destaques .box-destaques figure a span{
	bottom: -70px;
}

.destaques .box-destaques.centro figure a span {
    bottom: -60px;
}





}