.viagem-facil{
	width: 100%; height: 560px;
	float: left;
	position: relative;
}

.viagem-facil h2{
	font-size: 30px;
	color: #e80f17;
	font-family: 'intro-black';
	margin: 75px 0 0 0;
}

.viagem-facil .box-ml{
	width: 100%; height: auto;
	float: left;
	padding:0 20px 0 60px;
}

.viagem-facil .box-ml p.subtit{
	font-size: 24px;
	color: #1b1d5e;
	font-family: 'open-sans-italic';
	margin-bottom: 60px;
}

.viagem-facil .box-ml p.texto{
	font-size: 13px;
	color: #999999;
	font-family: 'open-sans';
}

.viagem-facil .box-ml h4{
	font-size: 15px;
	color: #1b1d5e;
	font-family: 'open-sans-bold';
	margin: 40px 0 20px 0;
}

.viagem-facil .box-ml a{
	font-size: 13px;
	color: #1b1d5e;
	font-family: 'open-sans';
	display: block;
	float: left;
	width: 100%; height: auto;
	padding-left: 25px;
	line-height: 55px;
}

.viagem-facil .box-ml a:hover{
	text-decoration: none;
	color: #e80f17;
}

.viagem-facil .box-ml a.seguros::before{
	content: url('../../images/seguros.png');
	position: relative;
	top: 10px;
	left: -15px;
}

.viagem-facil .box-ml a.constr::before{
	content: url('../../images/constr.png');
	position: relative;
	top: 4px;
	left: -15px;
}

.viagem-facil .box-ml a.cambio::before{
	content: url('../../images/cambio.png');
	position: relative;
	top: 8px;
	left: -15px;
}

.viagem-facil .box-ml a.doc::before{
	content: url('../../images/doc.png');
	position: relative;
	top: 12px;
	left: -15px;
}

.viagem-facil .box-ml a.presente::before{
	content: url('../../images/presente.png');
	position: relative;
	top: 6px;
	left: -15px;
}

.viagem-facil .box-ml a.facil::before{
	content: url('../../images/facil.png');
	position: relative;
	top: 10px;
	left: -15px;
}

.viagem-facil ul#banner-selfie{
	width: 538px; height: 345px;
	float: left;
	border-radius: 20px;
	border-top-right-radius: 0px;
	overflow: hidden;
	margin-top: 30px;
	padding: 0;
}

.viagem-facil ul#banner-selfie li{
	width: 530px; height: 345px;
	float: left;
	list-style: none;
	margin: 0; padding: 0;
}

.viagem-facil ul#banner-selfie li img{
	width: 100%; height: auto;
	float: left;
}

.viagem-facil a.casal{
	width: 100%; height: 580px;
	display: block;
	position: relative;
}

.viagem-facil a.casal img{
	position: absolute;
	top: 0;
	left: 15px;
}

.viagem-facil .box-conheca{
	width: 242px; height: 242px;
	float: left;
	background-color: #1b1d5e;
	border-radius: 20px;
	border-top-right-radius: 0;
	position: absolute;
	right: 0;
	bottom: -10px;
}

.viagem-facil .box-conheca img.bola-logo{
	position: relative;
	top: -46px;
	left: 50%;
	margin-left: -46px;
}

.viagem-facil .box-conheca a{
	width: 100%; height: auto;
	float: left;
	text-align: center;
	display: block;
	font-size: 13px;
	color: #9acaff;
	font-family: 'open-sans';
	margin-top: -15px;
}

.viagem-facil .box-conheca a span.vermelho{
	font-size: 15px;
	color: #e80f17;
	font-family: "open-sans-bold";
	width: 100%;
	display: block;
}

.viagem-facil .box-conheca a span.vf{
	font-size: 25px;
	color: #ffffff;
	font-family: 'intro-black';
	width: 100%;
	display: block;
}

.viagem-facil .box-conheca a img{
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: 30px;
}

.viagem-facil .box-conheca a:hover{
	text-decoration: none;
	color: #ffffff;
}

.viagem-facil .box-conheca a:hover img{
	transform: rotate(-90deg);
}

.viagem-facil .box-ml a:hover,
.viagem-facil .box-ml a,
.viagem-facil .box-conheca a:hover img,
.viagem-facil .box-conheca a:hover,
.viagem-facil .box-conheca a{
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}



/* ____________________Media queries____________________ */

@media (max-width: 1199px){

.viagem-facil ul#banner-selfie,
.viagem-facil ul#banner-selfie li{
	width: 454px;
	margin-top: 40px;
}

.viagem-facil a.casal img {
    top: inherit;
    width: 390px;
    bottom: 20px;
}


.viagem-facil .box-conheca {
    width: 222px;
    height: 222px;
    right: -20px;
    bottom: -10px;
}

.viagem-facil .box-conheca a {
    margin-top: -35px;
    padding: 0 20px;
}

.viagem-facil .box-ml p.subtit{
	margin-bottom: 30px;
}

}
@media (max-width: 992px){

.viagem-facil{
	height: 1024px;
}

.viagem-facil h2{
	margin-top: 40px;
}

.viagem-facil .box-ml{
	margin-bottom: 30px;
}

.viagem-facil ul#banner-selfie, .viagem-facil ul#banner-selfie li {
    margin-top: 0px;
    float: right;
}

.viagem-facil a.casal {
    margin-left: 260px;
}

.viagem-facil .box-conheca{
	right: inherit;
}

.viagem-facil a.casal{
	width: 440px;
}


}
@media (max-width: 767px){

.viagem-facil{
	height: auto;
}

.viagem-facil .box-ml{
	padding: 0;
	margin-bottom: 50px;
}

.viagem-facil h2{
	font-size: 24px;
	text-align: center
}

.viagem-facil .box-ml p.subtit{
	font-size: 20px;
	text-align: center;
}

.viagem-facil .box-ml p.texto{
	text-align: justify;
}

.viagem-facil a.casal{
	margin-left: 0;
	width: 280px;
	position: relative;
	left: 50%;
	margin-left: -150px;	
}

.viagem-facil a.casal img{
	width: 100%;
}
.viagem-facil ul#banner-selfie{
	position: relative;
	left: 50%;
	margin-left: -150px;
	margin-bottom: -20px;
}
.viagem-facil ul#banner-selfie, 
.viagem-facil ul#banner-selfie li{
	width: 280px;
	float: left;
}

.viagem-facil a.casal img {
    top: inherit;
    width: 270px;
    bottom: -25px;
}

.viagem-facil .box-conheca {
    width: 170px;
    height: 140px;
    bottom: -45px;
}

.viagem-facil .box-conheca img.bola-logo{
	width: 50px; height: auto;
	top: -25px;
	margin-left: -25px;
}

.viagem-facil .box-conheca a{
	margin-top: -13px;
}

.viagem-facil .box-conheca a span.vf{
	font-size: 18px;
}

.viagem-facil .box-conheca a img{
	display: none;
}

.viagem-facil a.casal{
	height: 300px;
}

.viagem-facil a.casal {
    width: 280px;
}


}