<?php require_once( $_SERVER['DOCUMENT_ROOT'] . '/wp-load.php');
?>
/*__________________Estilos comuns__________________*/


/*__________________Estilos comuns__________________*/


/*__________________Estilos comuns__________________*/

body {
    background-color: #f2f2f2 !important;
}


/*_____Fontes_____*/

a,
p {
    font-size: 14px;
    color: #4e5255;
    font-family: 'montserrat-light';
    display: inline-block;
    vertical-align: middle;
}

a:hover,
a:focus {
    color: #4e5255;
    text-decoration: underline;
}

a:focus {
    text-decoration: none;
}

p span {
    font-family: 'montserrat-bold';
}

h1 {
    font-size: 30px;
    font-family: 'montserrat-bold';
}

h2 {
    font-size: 24px;
    font-family: 'montserrat-bold';
}

h3,
.h3 {
    font-size: 20px;
    font-family: 'montserrat';
    margin: 10px 0;
}

h4,
.h4 {
    font-size: 18px;
    font-family: 'montserrat-light';
}

h5,
.h5 {
    font-size: 12px;
    font-family: 'montserrat';
}

.bold {
    font-family: 'montserrat-bold';
}

.black {
    font-family: 'montserrat-black';
}

.light {
    font-family: 'montserrat-light';
}

.hairline {
    font-family: 'montserrat-hairline';
}

.regular {
    font-family: 'montserrat';
}

ul li {
    list-style: none;
}

select,
select:focus,
option,
option:focus {
    border: 0;
    outline: inherit;
}

.fz-18 {
    font-size: 18px;
}

.fz-16 {
    font-size: 16px;
}

.fz-14 {
    font-size: 14px;
}


/*_____Fontes_____*/


/*______Cores______*/

.branco {
    color: #ffffff;
}

.cinza-claro {
    color: #8e9296;
}

.cinza-bem-claro {
    color: #adb1b3;
}

.cinza {
    color: #4e5255;
}

cinza-escuro {}

.azul-claro {
    color: #a5dbff;
}

.azul {
    color: #2e89c6;
}

.verde {
    color: #04be55;
}

.bg-branco {
    background-color: #ffffff;
}

.bg-cinza-claro {
    background-color: #e2e2e2;
}

.bg-cinza {
    background-color: #cecdcd;
}

.bg-cinza-medio {
    background-color: #b6bdc0;
}

.bg-cinza-escuro {
    background-color: #888c8f;
}

.bg-verde {
    background-color: #04be55;
}

.bg-azul {
    /*background-color: #3498db;*/
}

.bg-azul-escuro {
    background-color: #2e89c6;
}


/*______Cores______*/


/*______Botões______*/

select {
    padding: 5px 15px;
    border-radius: 5px;
    float: left;
}

select.estilizado {
    width: auto;
    height: 37px;
    padding: 0 70px 0 15px;
    background: #b6bdc0 url(images/select-estilizado.png)no-repeat right center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a.botao {
    color: #ffffff;
    padding: 7px 15px;
    border-radius: 5px;
    float: left;
}

a.botao:hover {
    background-color: #687175;
    text-decoration: none;
}

.box > a.botao:last-child {
    margin-bottom: 0;
}

.ir-topo {
    float: right;
    line-height: 19px;
}

.ir-topo span {
    width: 21px;
    height: 20px;
    display: block;
    border: 2px solid #04be55;
    border-radius: 2px;
    float: right;
    margin-left: 10px;
    background: url(images/ir-topo.png) no-repeat center top 3px;
}

.ir-topo:hover {
    text-decoration: none;
}

.ir-topo:hover span {
    background: #04be55 url(images/ir-topo.png) no-repeat center top -17px;
}

.v-a {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}


/*______Botões______*/


/*_____Wrappers_____*/

.box-title {
    width: 100%;
    height: auto;
    float: left;
    background-color: #ffffff;
    padding: 20px;
    border-bottom: 1px solid #cacdcf;
    display: block;
}

.box {
    width: 100%;
    height: auto;
    float: left;
}

.box-padding {
    width: 100%;
    height: auto;
    float: left;
    padding: 20px;
}

.box-padding-35 {
    width: 100%;
    height: auto;
    float: left;
    padding: 35px;
}

.box-padding-1020 {
    width: 100%;
    height: auto;
    float: left;
    padding: 10px 20px;
}

.box-bb-cinza {
    width: 100%;
    height: auto;
    float: left;
    border-bottom: 1px solid #cacdcf;
}


/*_____Wrappers_____*/


/*___Espaçamentos___*/

.m-0 {
    margin: 0;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.pl-35 {
    padding-left: 35px;
}

.p-10-0 {
    padding: 10px 0;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.cem {
    width: 100%;
}

.noPadding {
    padding: 0;
}

.noMargin {
    margin: 0;
}

.posr {
    position: relative;
}

.posa {
    position: absolute;
}


/*___Espaçamentos___*/


/*_______Fim___________Estilos__________________*/


/* ______inicio______________Header_________________________ */


/* ______inicio______________Header_________________________ */


/* ______inicio______________Header_________________________ */

.bg-topo {
    width: 100%;
    height: 181px;
    position: absolute;
    top: 0;
}

.bg-topo .gradiente {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 68px;
    background-color: rgba(0, 0, 0, 0.1);
}

.cl {
    clear: both;
}

header {
    width: 100%;
    height: 254px;
    float: left;
    margin-bottom: 50px;
    position: relative;
}

header .topo {
    height: 180px;
}

header .logo-header {
    width: 200px;
    height: 200px;
    border: 6px solid #eeeeee;
    border-radius: 6px;
    margin: 55px 0 0px 40px;
    position: relative;
    z-index: 10;
}

header .logo-header a {
    width: 100%;
    height: 100%;
    display: block;
    background-size: 188px;
}

header .logo-header a:hover {
    opacity: 0.7;
}

header .up {
    height: 60px;
    padding: 10px 0;
}

header .siga {
    width: 300px;
    height: 40px;
    float: right;
    text-align: right;
    margin-right: 5px;
}

header .siga h5 {
    line-height: 40px;
    margin: 0;
}

header .up .acessibilidade {
    width: 170px;
    float: right;
    text-align: right;
}

header .up .acessibilidade a {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
}

header .up .acessibilidade a:hover {
    color: #ffffff;
    text-decoration: none;
}

header ul.redes-sociais {
    width: auto;
    height: auto;
    float: right;
    margin: 0;
    padding: 0;
}

header ul.redes-sociais li {
    list-style: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    float: left;
    margin: 5px 2px;
}

header ul.redes-sociais li a {
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    font-size: 20px;
    color:#fff;
}

header ul.redes-sociais li a:hover {
    opacity: 0.7;
}

header .center {
    float: left;
    height: 54px;
}

header .center h3 {
    width: auto;
    float: left;
    font-size: 18px;
    font-family: 'montserrat-light'
}

#buscar {
    position: relative;
    float: right;
}

#buscar input {
    width: 230px;
    height: 32px;
    float: right;
    background-color: #ffffff;
    border: 0;
    border-radius: 5px;
    padding-left: 15px;
    position: absolute;
    right: 0;
}

#buscar button {
    width: 42px;
    height: 32px;
    background-color: #1e7ab7;
    border-radius: 5px;
    border: 0;
    background: url(images/pesquisar.png) no-repeat center center;
    background-size: 15px;
    float: right;
    position: relative;
    z-index: 9;
}

header .titulo-header {
    width: 100%;
    height: 67px;
    float: left;
}

header .titulo-header h1 {
    margin: 0;
    line-height: 67px;
}

.menu-container {
    position: relative;
    top: -74px;
    border-top: 3px solid #fff600;
    background: url(images/dot.png)repeat-x left top;
    padding-left: 280px;
}

.menu,
.sub-menu {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}

.menu.clearfix {
    padding-top: 15px;
}

.menu,
.sub-menu {
    list-style: none;
    position: relative;
    z-index: 1;
}

.sub-menu {
    
}

.menu a {
    display: block;
}

.menu li {
    position: relative;
}

.menu > li {
    float: left;
    margin: 0 3px;
}

.menu > li > a {
    padding: 7px 22px;
    margin: 0 2px;
}

.menu > li:hover > a {
    background: #048c40;
    color: #0ede69;
}

.menu > li > a.multilevel {
    padding-right: 50px;
}

.menu > li:hover > a.multilevel {
    height: 100px;
}

.menu li:hover > .sub-menu {
    display: block;
}
.menu li{position: relative;}
.menu li > a span{width: 37px; height: 34px; display: block; position: absolute; top:0px; right: 0px; z-index: 2; border-radius:3px; text-align: center;}
.menu li > a span i{font-size: 18px; margin-top: 6px; padding-right: 5px;}

.sub-menu {
    display: none;
    min-width: 150px;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    left: 2px;
}

.sub-menu > li {
    min-width: 230px;
}

.sub-menu li > a {
    color: #ffffff;
    margin-bottom: 10px;
    background: transparent;
}

.sub-menu li:hover > a {
    background: #047c39;
    color: #0ede69;
}

.sub-menu .sub-menu {
    top: 0;
    left: 100%;
}

header .up .acessibilidade a:hover,
header .up .acessibilidade a {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

.ir-topo,
.ir-topo span,
.ir-topo:hover,
.ir-topo:hover span,
header .logo-header a:hover,
header .logo-header a,
a.botao:hover,
a.botao,
#buscar button:hover,
#buscar button,
header ul.redes-sociais li a:hover,
header ul.redes-sociais li a {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}


/* ____fim_____________________Header_________________________ */


/* ____fim_____________________Header_________________________ */


/* ____fim_____________________Header_________________________ */


/* _____inicio_________________footer_________________________ */


/* _____inicio_________________footer_________________________ */


/* _____inicio_________________footer_________________________ */

footer {
    width: 100%;
    height: auto;
    float: left;
    margin: 75px 0;
}

footer .rodape {
    height: auto;
}

footer .rodape .logo-footer {
    height: 330px;
    width: 96%;
    text-align: center;
    overflow: hidden;
}

footer .rodape .logo-footer figure {
    width: 100%;
    height: 200px;
    float: left;
    margin-top: 15px;
}

footer .rodape .logo-footer figure a {
    display: block;
    width: 188px;
    height: 188px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

footer .rodape .logo-footer .cont {
    padding: 0 30px;
}

footer .rodape .logo-footer .cont h5 {
    text-transform: uppercase;
}

footer .rodape .logo-footer .cont h3 {
    font-size: 14px;
    text-transform: uppercase;
}

footer .menu-footer {
    height: auto;
    position: relative;
}

footer .nav-footer {
    width: 31%;
    margin-top: 20px;
    margin-left: 3%;
    float: left;
}

footer .nav-footer:first-child {
    margin-left: 0;
}

footer .nav-footer h3 {
    padding-left: 10px;
}

footer .nav-footer a {
    padding: 5px 10px;
    margin: 2px 0;
    border-radius: 5px;
}

footer .nav-footer a:hover {
    background-color: #848788;
    color: #ffffff;
    text-decoration: none;
}

footer .copyright {
    position: relative;
    left: 20px;
    bottom: 5px;
}

footer .agencia {
    width: 150px;
    height: 40px;
    float: right;
    position: absolute;
    right: 0;
    bottom: 0px;
}

footer .agencia a {
    width: 130px;
    position: absolute;
    right: 60px;
    bottom: 10px;
    padding: 10px 0;
    z-index: 1;
}

footer .agencia a::after {
    content: url(images/megasoft.png);
    position: relative;
    top: 10px;
    left: 10px;
}

footer .agencia a:hover::before {
    content: url(images/megasoftt.png);
    position: absolute;
    top: 45px;
}

footer .agencia a:hover {
    color: #000000;
    text-decoration: none;
}

footer .agencia a:hover::after {
    top: 18px;
}

footer .rodape-bottom {
    margin-top: 0px;
    width: auto;
    padding: 10px 0;
}

footer .agencia a:hover::after,
footer .agencia a::after,
footer .agencia a:hover::before,
footer .agencia a::before,
footer .agencia a,
footer .agencia a:hover {
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}


/* ______fim___________________footer_________________________ */


/* ______fim___________________footer_________________________ */


/* ______fim___________________footer_________________________ */


/*---------Inicio--------------Conteudo-index-----------------------*/


/*---------Inicio--------------Conteudo-index-----------------------*/


/*---------Inicio--------------Conteudo-index-----------------------*/


/*______________Banner______________*/

.banner {
    height: 300px;
}

#banner {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#banner li {
    list-style: none;
    margin: 0;
}

#banner li a {
    display: block;
    width: 100%;
    height: 300px;
    background-size: cover;
}

.arrow{
    width: 100%;
    height: 66px;
    position: relative;
}

.arrow #next,
.arrow #prev{
position: absolute;
    right: 20px;
    top: -180px;
    width: 34px;
    height: 66px;
    background: url(images/next.png)no-repeat center center;
    opacity: 0.5;
}

.arrow #prev{
    right: inherit;
    left: 20px;
    background: url(images/prev.png)no-repeat center center;
}

.arrow #prev:hover{
    left: 15px;
}

.arrow #next:hover{
    right: 15px;
}

.arrow #next:hover,
.arrow #next,
.arrow #prev:hover,
.arrow #prev{
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
}


/*______________Banner______________*/


/*_____________Noticias_____________*/

ul.noticias {
    margin: 0;
}

ul.noticias li {
    list-style: none;
}

ul.noticias li:first-child {
    padding-top: 0;
}

ul.noticias li:last-child {
    border-bottom: 0;
}

.data-verde {
    width: 65px;
    height: 40px;
    font-size: 20px;
    color: #04be55;
    float: left;
}

.calc-65 {
    width: calc(100% - 65px);
}


/*_____________Noticias_____________*/


/*____________Parlamentar____________*/

figure {
    float: left;
    margin-right: 20px;
}

.mes {
    border-bottom: 1px solid #cacdcf;
    text-align: center;
    padding-bottom: 10px;
    color: #4e5255;
    margin-bottom: 0;
    font-family: 'montserrat';
}

.parlamentar figure {
    width: 100px;
    height: 120px;
    float: left;
    margin-right: 20px;
}

.parlamentar figure img {
    width: 100%;
    height: auto;
    float: left;
}

.parlamentar .info {
    width: 200px;
    height: 120px;
    float: left;
}

.nome {
    font-size: 18px;
    color: #4e5255;
    font-family: 'montserrat';
    padding: 0;
    line-height: 0;
    height: 20px;
}

.parlamentar p {
    float: left;
    width: 100%;
    margin: 0;
    padding: 5px 0;
}

.mais {
    font-size: 12px;
    color: #5f6265;
    font-family: 'montserrat-light';
    background-color: #dee1e3;
    border-radius: 5px;
    padding: 5px 50px 5px 10px;
    margin-top: 5px;
}

.mais:hover {
    color: #ffffff;
    background-color: #687175;
    text-decoration: none;
}


/*____________Parlamentar____________*/


/*________________Mapa________________*/

.mapa {
    width: 100%;
    height: 120px;
    float: left;
    background: url(images/tmp/mapa.jpg) left top;
}


/*________________Mapa________________*/


/*____________Agenda-camara____________*/

.agenda {
    margin: 0;
    padding: 20px 0;
}

.agenda li {
    list-style: none;
    margin: 10px 0;
}

.agenda li:first-child {
    margin-top: 0;
}

.agenda li:last-child {
    margin-bottom: 0;
}

.agenda li a {
    display: block;
}

.agenda li .date-azul {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    float: left;
    font-size: 12px;
}

.agenda li .titulo-agenda {
    width: calc(100% - 50px);
}


/*____________Agenda-camara____________*/


/*_____________Banner-link_____________*/

ul.banner-link {
    margin: 0;
    padding: 0;
}

ul.banner-link li {
    list-style: none;
    width: 48.5%;
    height: 180px;
    float: left;
}

ul.banner-link li:nth-child(odd) {
    margin-right: 1.5%;
}

ul.banner-link li:nth-child(even) {
    margin-left: 1.5%;
}

ul.banner-link li a {
    display: block;
    width: 100%;
    height: 180px;
    background: url(images/tmp/banner-link.png) no-repeat center center;
}

ul.banner-link li a:hover {
    opacity: 0.7;
}

aside ul.banner-link li {
    width: 100%;
    margin: 0 0 20px;
}

aside ul.banner-link li:nth-child(odd) {
    margin: 0 0 20px;
}

aside ul.banner-link li:nth-child(even) {
    margin: 0 0 20px;
}

aside .links-aside a:hover,
aside .links-aside a.selecionado {
    color: #bfc4c8;
    text-decoration: none;
}


/*_____________Banner-link_____________*/

aside .institucional .links-aside a,
aside .institucional .links-aside a:hover,
footer .agencia:hover,
footer .agencia,
ul.banner-link li a:hover,
ul.banner-link li a,
.mais:hover,
.mais {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}


/*--------Fim---------------Conteudo-index-----------------------*/


/*--------Fim---------------Conteudo-index-----------------------*/


/*--------Fim---------------Conteudo-index-----------------------*/


/* ____________________Media queries____________________ */

@media (max-width: 1199px) {
    header .logo-header {
        width: 180px;
        height: 180px;
        margin: 65px 0 0px 20px;
    }
    header .logo-header a {
        background-size: 146px;
    }
    .menu-container {
        top: -64px;
        padding-left: 230px;
    }
    .menu > li > a {
        padding: 7px 15px;
        margin: 0 2px;
    }
    footer .rodape .logo-footer {
        width: 100%;
    }
}

@media (max-width: 991px) {
    h1 {
        font-size: 26px;
    }
    h2 {
        font-size: 22px;
    }
    h3,
    .h3 {
        font-size: 18px;
    }
    h4,
    .h4 {
        font-size: 16px;
    }
    header {
        margin-bottom: 10px;
    }
    header .logo-header {
        width: 160px;
        height: 160px;
        border-radius: 6px;
        margin: 10px 0 0px 10px;
    }
    .menu-container {
        padding-left: 25px;
        top: 1px;
    }
    .parlamentar figure {
        width: 80px;
        height: 100px;
        margin-right: 20px;
    }
    .parlamentar .info {
        width: 190px;
    }
    ul.banner-link li {
        width: 100%;
    }
    ul.banner-link li:nth-child(odd) {
        margin-right: 0;
    }
    ul.banner-link li:nth-child(even) {
        margin-left: 0;
    }
    footer .rodape .logo-footer figure {
        width: 80%;
        height: 180px;
        float: left;
        overflow: hidden;
        margin-top: 20px;
        margin-left: 10%;
    }
    footer .rodape .logo-footer figure a {
        height: 190px;
        background-size: 100%;
    }
    footer .rodape .logo-footer .cont {
        padding: 0 10px;
    }
    footer .copyright {
        left: 0px;
        bottom: 30px;
        width: 100%;
        text-align: center;
    }
    footer .rodape {
        height: 330px;
    }
    footer .rodape .logo-footer {
        height: 330px;
    }
    footer .menu {
        height: 270px;
    }
    footer .agencia {
        width: 100%;
        text-align: center;
        left: 0px;
        bottom: -15px;
    }
    footer .agencia:hover {
        bottom: -10px;
    }
    footer .agencia:hover::before {
        position: absolute;
        top: 45px;
        left: 204px;
    }
    footer .agencia:hover::after {
        top: 17px;
    }
    footer .menu-footer {
        padding: 10px;
    }
    footer .nav-footer {
        width: 31.3%;
        margin-top: 10px;
        margin-left: 2%;
    }
}

@media (max-width: 767px) {
    .noPaddingXs {
        padding: 0;
    }
    header {
        width: 100%;
        height: 78px;
        float: left;
        background: url(images/bg-header.png) repeat-x left top -60px;
        margin-bottom: 20px;
    }
    .bg-topo {
        height: 120px;
    }
    .container {
        padding: 0;
    }
    header .logo-header {
        width: 70px;
        height: 70px;
        border-radius: 6px;
        margin: 13px 0 0px 10px;
        border: 2px solid #eee;
    }
    header .logo-header a {
        background-size: 65px;
    }
    header .topo {
        height: 45px;
        width: calc(100% - 85px);
        float: left;
        position: absolute;
        top: -80px;
        right: 0;
    }
    header .center {
        height: 20px;
        margin-top: 10px;
    }
    header .center h3 {
        font-size: 13px;
        margin: 0;
        padding-left: 5px;
    }
    header .titulo-header {
        height: 20px;
    }
    header .titulo-header h1 {
        line-height: 15px;
        font-size: 13px;
        padding-left: 5px;
    }
    header .botao-menu-responsivo {
        width: 100px;
        height: 30px;
        float: right;
        margin-top: -23px;
        margin-bottom: 7px;
    }
    header .botao-menu-responsivo a {
        padding-top: 14px;
        height: 35px;
        color: #fff;
        text-transform: uppercase;
        float: left;
        display: block;
        width: 90%;
        margin: 0 0 0 10%;
        padding: 5px 0 0 0;
    }
    header .botao-menu-responsivo a:focus,
    header .botao-menu-responsivo a:hover {
        text-decoration: none;
        color: #a5dbff;
    }
    header .botao-menu-responsivo a span {
        width: 30px;
        height: 2px;
        background-color: #ffffff;
        display: block;
        float: right;
        margin: 9px 0 0 0;
    }
    header .botao-menu-responsivo a span::before {
        width: 30px;
        height: 2px;
        background-color: #ffffff;
        display: block;
        position: relative;
        top: -8px;
        content: '';
    }
    header .botao-menu-responsivo a span::after {
        width: 30px;
        height: 2px;
        background-color: #ffffff;
        display: block;
        position: relative;
        top: 6px;
        content: '';
    }
    header .botao-menu-responsivo a.rotate span {
        background-color: transparent;
    }
    header .botao-menu-responsivo a.rotate span::before {
        transform: rotate(45deg);
        top: 1px;
    }
    header .botao-menu-responsivo a.rotate span::after {
        transform: rotate(-45deg);
        top: -1px;
    }
    .menu-responsivo {
        width: 100vw;
        height: 100vh;
        float: right;
        background-color: rgba(0, 0, 0, 0.7);
        position: relative;
        z-index: 11;
        padding: 0px;
        display: none;
    }
    .menu-responsivo .bg-responsivo {
        background-color: #04be55;
        width: 80%;
        height: auto;
        float: right;
        padding: 20px;
    }
    .menu-container {
        border-top: 0;
        background: url();
        padding-left: 0;
        top: 0;
    }
    .menu > li {
        display: block;
        width: 100%;
        margin: 0 0px 10px 0px;
    }
    .menu > li > a {
        padding: 7px 10px;
        margin: 0px;
        float: right;
    }
    header .up {
        height: auto;
    }
    .sub-menu {
        left: inherit;
        right: 0;
    }
    header .siga {
        width: auto;
    }
    ul.banner-link {
        margin: 0;
        padding: 0 20px;
    }
    .agenda li .date-azul {
        margin-bottom: 10px;
    }
    footer {
        margin: 30px 0 0 0;
    }
    footer .rodape .logo-footer figure {
        width: 200px;
        height: 200px;
        margin-left: -100px;
        position: relative;
        left: 50%;
    }
    footer .rodape .logo-footer {
        height: auto;
        padding-bottom: 20px;
    }
    footer .nav-footer a {
        font-size: 13px;
    }
    footer .nav-footer {
        width: 47%;
        margin-left: 0;
        float: left;
        margin-right: 3%;
        text-align: center;
    }
    footer .nav-footer:nth-child(even) {
        margin-left: 3%;
        margin-right: 0;
    }
    footer .menu-footer {
        height: auto;
        padding: 0;
    }
    footer .rodape {
        height: auto;
    }
    footer .rodape-bottom {
        height: 130px;
        width: 100%;
        text-align: center;
    }
    footer .copyright {
        padding: 0 20px;
        bottom: 0px;
    }
    footer .agencia {
        bottom: 15px;
    }
    footer .agencia a {
        width: 100%;
        right: inherit;
    }
    footer .agencia:hover::before {
        content: '';
        position: relative;
        top: inherit;
        left: inherit;
    }
    footer .agencia:hover {
        position: absolute;
        bottom: 15px;
        padding: 10px 0;
        z-index: 1;
    }
    footer .agencia:hover::after {
        content: '';
        position: relative;
        top: 10px;
        left: 10px;
    }
    footer .agencia:hover::before {
        content: '';
        position: relative;
        top: 0;
        left: 0;
    }
    header .botao-menu-responsivo a,
    header .botao-menu-responsivo a span,
    header .botao-menu-responsivo a span::before,
    header .botao-menu-responsivo a span::after,
    header .botao-menu-responsivo a.rotate,
    header .botao-menu-responsivo a.rotate span,
    header .botao-menu-responsivo a.rotate span::before,
    header .botao-menu-responsivo a.rotate span::after {
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
    }
}

@media (max-width: 349px) {
    header {
        height: 112px;
        background: url(images/bg-header.png) repeat-x left top -44px;
    }
    header .titulo-header {
        height: 40px;
    }
    header .botoao-menu-responsivo {
        margin-top: -4px;
    }
    .parlamentar figure {
        width: 60px;
        height: 90px;
        margin-right: 15px;
    }
    .parlamentar .info {
        width: 185px;
    }
    header .botao-menu-responsivo {
        margin-top: -4px;
        margin-bottom: 5px;
    }
    .menu-responsivo .bg-responsivo {
        width: 90%;
    }
    footer h3,
    footer .h3 {
        font-size: 15px;
    }
}

#custom_tamanho{width:100%;}
.ic_servicos{ background: url(images/icone-servicos.png) no-repeat center center;}
.agendaScroll{overflow-y: scroll; height: 300px;}
.pagination li a{color:#8e9296;}


/* ____________________Media queries____________________ */


/* ____________________Media queries____________________ */


/* ____________________Media queries____________________ */


/* ____________________Media queries____________________ */


/* ____________________Media queries____________________ */


/* ____________________Media queries____________________ */


/* ____________________Media queries____________________ */


/* ____________________Media queries____________________ */


/* ____________________Media queries____________________ */