.topo{
	width: 100%; height: 440px;
	float: left;
	background: url('../../images/banner-produtos.jpg') no-repeat center top;
	background-attachment: fixed;
	margin-top: 58px;
	border-bottom: 8px solid #e80f17;
}

h2.title{
	font-size: 34px;
	color: #ffffff;
	font-family: 'intro-black';
	margin-top: -40px;
	background-color: #e80f17;
	line-height: 71px;
	position: relative;
	left: 47px;
	width: auto;
	float: left;
}

h2.title::after{
	content: url('../../images/h2-before.png');
	position: absolute;

}

h2.title::before{
	content: url('../../images/h2-after.png');
	position: absolute;
	left: -47px;
}

.produtos{
	width: 100%; height: auto;
	float: left;
	background: #f3f3f3 url('../../images/destaques-home.png') no-repeat center top;
	padding-bottom: 75px;
}

.produtos h3.title{
	font-size: 46px;
	color: #ffffff;
	font-family: 'intro-book';
	text-align: center;
	margin: 60px 0 0 0;
	position: relative;
	letter-spacing: 8px;
}

.produtos h3.title:after {
    content: url(../../images/airplan-icon.png);
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -40px;
}

.produtos .box-destinos{
	width: 262px; height: 262px;	
	float: left;
	background-color: #ffffff;
	margin-top: 30px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	overflow: hidden;
}

.produtos .box-destinos figure{
	width: 275px; height: 200px;	
	float: left;
	position: relative;
}

.produtos .box-destinos figure a{
	width: 100%; height: 200px;
	display: block;	
	background-color: transparent;
}

.produtos .box-destinos figure img.mask{
	width: 270px; height: auto;
	position: absolute;
	bottom: 0;
	z-index: 10;
}

.produtos .box-destinos figure img{
	width: auto; height: 100%;
	float: left;
}

.produtos .box-destinos .box-cont-dest{
	width: 100%; height: auto;
	float: left;
	padding: 0 30px;
	position: relative;
}

.produtos .box-destinos .box-cont-dest a.tit{
	font-size: 15px;
	color: #e80f17;
	font-family: 'open-sans-bold';
	text-transform: uppercase;
	margin-top: -10px;
    display: block;
    position: relative;
    z-index: 10;
}

.produtos .box-destinos .box-cont-dest a.tit span{
	font-size: 23px;
	color: #1b1d5e;
	font-family: 'intro-black';
	text-transform: uppercase;
}

.produtos .box-destinos .box-cont-dest a.tit:hover{
	text-decoration: none;
}

.produtos .divide{
	width: 100%; height: 4px;
	background-color: #9acaff;
	float: left;
}

.produtos ul.abas{
	width: 100%; height: auto;
	float: left;
	margin: 60px 0 0 0;
	padding: 0;
	text-align: center;
}

.produtos ul.abas li{
	list-style: none;
	display: inline-block;
	margin: 10px 0;
}

.produtos ul.abas li a{
	font-size: 24px;
	color: #fff;
	font-family: 'open-sans';
	border-right: 1px solid #9acaff;
	padding: 0 15px;
}

.produtos ul.abas li:last-child a{
	border: 0;
}

.produtos ul.abas li a:hover{
	text-decoration: none;
}


/* ____________________Media queries____________________ */

@media (max-width: 1199px){

.produtos .box-destinos{
	width: 204px; height: 200px;
}

.produtos .box-destinos figure,
.produtos .box-destinos figure a{
	width: 204px; height: 150px;
}

.produtos .box-destinos figure a img{
	width: 100%;
}

.produtos .box-destinos .box-cont-dest{
	padding: 0 20px;
}

.produtos .box-destinos .box-cont-dest a.tit{
	margin-top: -20px;
}

.produtos .box-destinos .box-cont-dest a.tit span{
	font-size: 21px;
}

}
@media (max-width: 992px){

.produtos{
	background-color: #e8e8e8;
}

.produtos .box-destinos{
	margin-top: 40px;
}

.produtos .box-destinos{
    width: 274px;
    height: 270px;
        position: relative;
    left: 50%;
    margin-left: -137px;
}

.produtos .box-destinos figure, .produtos .box-destinos figure a {
    width: 274px;
    height: 210px;
}

.produtos{
	padding-bottom: 50px;
}

.produtos h3.title {
    font-size: 36px;
    letter-spacing: 6px;
}

.produtos h3.title {
    font-size: 36px;
    color: #ffffff;
    font-family: 'intro-book';
    text-align: center;
    margin: 60px 0 0 0;
    position: relative;
    letter-spacing: 6px;
}

.produtos ul.abas li a{
	font-size: 20px;
}



}
@media (max-width: 767px){

.topo{
	height: 260px;
	background: url('../../images/banner-produtos.jpg') no-repeat center top 90px fixed;
	background-size: 660px;
}

h2.title {
    font-size: 24px;
    line-height: 61px;
    left: 54px;
    margin-top: -35px;
}

h2.title::after{
	content: url('../../images/h2-after-r.png');
	position: absolute;

}

h2.title::before{
	content: url('../../images/h2-before-r.png');
	position: absolute;
	left: -54px;
}

.produtos .box-destinos {
    margin-top: 20px;
}

.produtos h3.title{
	font-size: 22px;
}

.produtos ul.abas{
	margin-top: 30px;
	width: calc(100% + 30px);
	margin-left: -15px;
}

.produtos ul.abas li{
	display: block;
	width: 100%;
	margin: 0;
}

.produtos ul.abas li a{
	font-size: 16px;
	border: 0;
	border-top: 1px solid #9acaff !important;
	width: 100%;
	display: block;
	padding: 5px 0;
	margin: 0;
}

.produtos ul.abas li:last-child a{
	border-bottom: 1px solid #9acaff;
}

.produtos .divide{
	display: none;
}



}