@font-face {
    font-family: 'iconsd';
    src: url('./fonts/jls-webfont.eot');
    src: url('./fonts/jls-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/jls-webfont.woff2') format('woff2'),
         url('./fonts/jls-webfont.woff') format('woff'),
         url('./fonts/jls-webfont.ttf') format('truetype'),
         url('./fonts/jls-webfont.svg#iconsd') format('svg');
    font-weight: normal;
    font-style: normal;
}
.sd:before{
    content: "*";
}
.facebook:before{
    content: "-";
}
.instagram:before{
    content: ".";
}

/*passaro*/
.twitter:before{
    content: ",";
}
.pinterest:before{
    content: "/";
}
.google-drive:before{
    content: "0";
}
.google-mais:before{
    content: "1";
}
/*Marca completa*/
.youtube:before{
    content: "+";
}
.linkedin:before{
   content: "2";
}
.behance:before{
    content: "3";
}

.telefone_2:before{
    content: "6";
}

#wpadminbar #wp-admin-bar-wp-logo>.ab-item{
    background-color: #f1f1f1!important;
}
#wpadminbar #wp-admin-bar-wp-logo>.ab-item .ab-icon:before{
    content: "*";
    font-family: iconsd!important;
    color:#a7cd45!important;
    font-size: 28px!important;
    top: 0!important;
    line-height: 28px!important;
}
#wpadminbar #wp-admin-bar-wp-logo>.ab-item:hover .ab-icon:before{
    color:#00a3ce!important;
}
#adminmenu div.wp-menu-image::before{
     color:#00a3ce!important;
}

#adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
.folded #adminmenu li.current.menu-top,
#adminmenu a:hover, #adminmenu li.menu-top:hover,
#adminmenu li.opensub > a.menu-top,
#adminmenu li > a.menu-top:focus{
    background-color:#a7cd45!important;
    color: #ffffff!important;
}
#preview-action, #save-action, .post-php .page-title-action{display:none;}
#misc-publishing-actions #visibility, #misc-publishing-actions .curtime{display: none;}
