h1 a{
 	-webkit-background-size:auto!important;
 	background-size:auto!important;
 	width:275px!important;
 	height:84px!important;
 	background-image:url(../images/logo-sitio.png) !important;
 }
#login{
 	width:351px !important;
 }
 .g-recaptcha{
 	margin-bottom: 15px;
 }
 body{
 	background: url(../images/bg-login.jpg) center bottom!important; 	background-attachment: fixed;
 }
 .login #backtoblog a, .login #nav a, .login h1 a{
 	color: #f9f9f9!important;
 }
		