.noticias-interna {
    width: 100%;
    height: auto;
    float: left;
}

.noticias-interna .impressora {
    width: 39px;
    height: 35px;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 2px;
    background: #b6bdc0 url(../../images/impressora.png) no-repeat center center;
}

.noticias-interna figure {
    width: 100%;
    height: auto;
    float: left;
    margin: 40px 0 20px 0;
}

.noticias-interna figure img {
    width: 100%;
    height: auto;
    float: left;
}

.noticias-interna .impressora:hover {
    background: #848788 url(../../images/impressora.png) no-repeat center center;
}

.noticias-interna .botoes-interagir {
    width: 100%;
    height: 75px;
    float: left;
    padding-top: 20px;
}

.noticias-interna p {
    font-size: 15px;
}

.noticias-interna .links-aside a,
.noticias-interna .links-aside a:hover,
.noticias-interna .links-aside a.selecionado,
.noticias-interna .ir-topo:hover span,
.noticias-interna .ir-topo:hover,
.noticias-interna .ir-topo span,
.noticias-interna .ir-topo,
.noticias-interna .impressora:hover,
.noticias-interna .impressora {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

@media (max-width: 1199px) {}

@media (max-width: 991px) {
    .noticias-interna .pl-35 {
        padding-left: 20px;
    }
    .noticias-interna figure {
        width: 80%;
    }
}

@media (max-width: 767px) {
    .noticias-interna h2 {
        width: calc(100% - 55px);
        font-size: 20px;
        margin-bottom: 10px;
    }
    .noticias-interna p {
        font-size: 14px;
    }
    .noticias-interna ul {
        padding-left: 20px;
    }
    .noticias-interna figure {
        width: 100%;
        margin: 0 0 20px 0;
    }
    .noticias-interna .impressora {
        display: none;
    }
}

@media print {

    header, footer {
       display:none;
    }
    figure{display: block; clear: both; margin:0 auto;}
    .ajusteImpressao{clear: both; display: block;}
    .removerImpressao{display: none;}
    .impressao100{width:100% !important;}
    #Header, #Footer { display: none !important; }

}
.arrow #next, .arrow #prev{top:-280px;}