.contato {
    width: 100%;
    height: auto;
    float: left;
}

.contato .mapa-cheio {
    width: 100%;
    height: 400px;
    float: left;
    background: url(../images/mapao.jpg) no-repeat right bottom;
    border: 1px solid #cecdcd;
}

.contato .divide-contato {
    width: 100%;
    height: 1px;
    margin: 30px 0 10px 0;
}

.lista-contatos .bg-cinza-claro {
    border-radius: 5px;
}

.box-40 {
    width: 40%;
    height: auto;
    float: left;
    padding-left: 15px;
}

.box-40.coluna-um {
    width: 30%;
    height: auto;
    float: left;
    padding-left: 15px;
}

.box-20 {
    width: 20%;
    height: auto;
    float: left;
    padding-left: 15px;
}

#formulario {
    width: 100%;
    height: auto;
    float: left;
}

#formulario label {
    width: 100%;
    height: auto;
    float: left;
}

#formulario input {
    width: 100%;
    height: 45px;
    float: left;
    border: 1px solid #d1d0d0;
    border-radius: 5px;
    padding-left: 15px;
    margin: 6px 0 20px 0;
    font-size: 16px;
    color: #bbbbbb;
    font-family: 'montserrat-light';
}

#formulario textarea {
    width: 100%;
    height: 150px;
    float: left;
    border: 1px solid #d1d0d0;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0 20px 0;
    font-size: 16px;
    color: #bbbbbb;
    font-family: 'montserrat-light';
}

#formulario button {
    border: 0;
    border-radius: 5px;
    width: 82px;
    height: 33px;
    background-color: #04be55;
    font-size: 14px;
    color: #ffffff;
    font-family: 'montserrat-light';
    float: left;
}

#formulario button:hover {
    color: #0ede69;
    background-color: #048c40;
}

#formulario .erro,
#formulario .sucesso {
    width: auto;
    height: 32px;
    float: left;
    margin-left: 15px;
}

#formulario .erro p,
#formulario .sucesso p {
    margin: 5px;
}


/*__________Aside__________*/

.contato aside ul.siga-redes {
    padding: 0 25px;
}

.contato aside ul.siga-redes li {
    width: 51px;
    height: 51px;
    float: left;
    margin: 10px 20px;
    border-radius: 50px;
}

.contato aside ul.siga-redes li a {
    width: 100%;
    height: 100%;
    float: left;
    display: block;
    position: relative;
}

.contato aside ul.siga-redes li a img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 90%;
}

.contato aside ul.siga-redes li a:hover img {
    opacity: .7;
}

#formulario button:hover,
#formulario button,
.contato aside ul.siga-redes li a:hover img,
.contato aside ul.siga-redes li a img {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

@media (max-width: 1199px) {
    .box-40 {
        width: 48%;
    }
    .box-20 {
        width: 22%;
    }
    .box-padding-35 {
        padding: 20px !important;
    }
    .contato aside ul.siga-redes li {
        margin: 10px 26px;
    }
}

@media (max-width: 991px) {
    .contato aside ul.siga-redes li {
        margin: 10px 7px;
    }
    .contato .linha-um {
        width: 110px;
        padding-bottom: 10px;
    }
    .contato .linha-dois {
        width: 300px;
        height: 150px;
    }
    .box-40,
    .box-20,
    .box-40.coluna-um {
        width: 100%;
        height: 40px;
        line-height: 40px;
    }
}

@media (max-width: 767px) {
    .lista-contato {
        width: 100%;
    }
    .box-40,
    .box-20,
    .box-40.coluna-um {
        padding-left: 0;
    }
    .contato .linha-dois {
        width: auto;
        height: auto;
        padding: 10px 0;
    }
    .box-40,
    .box-20,
    .box-40.coluna-um {
        width: 100%;
        height: 20px;
        line-height: 20px;
    }
    .fz-18 {
        font-size: 16px !important;
    }
    .contato aside ul.siga-redes {
        padding: 0 25px;
        width: 245px;
        height: 150px;
        position: relative;
        left: 50%;
        margin-left: -122px;
    }
}