.topo{
	width: 100%; height: 440px;
	float: left;
	background: url('../images/bg-contato.jpg') no-repeat center top;
/* 	background-attachment: fixed; */
	margin-top: 58px;
	border-bottom: 8px solid #e80f17;
}

h2.title{
	font-size: 34px;
	color: #ffffff;
	font-family: 'intro-black';
	margin-top: -100px;
	background-color: #e80f17;
	line-height: 71px;
	position: relative;
	left: 47px;
	width: auto;
	float: left;
}

h2.title::after{
	content: url('../images/h2-before.png');
	position: absolute;

}

h2.title::before{
	content: url('../images/h2-after.png');
	position: absolute;
	left: -47px;
}

.contato{
	width: 100%; height: auto;
	float: left;
	padding: 60px 0;
	background-color: #f3f3f3;
	position: relative;
}

.contato h3.sub{
	font-size: 30px;
	color: #e80f17;
	font-family: 'intro-bold';
	margin-bottom: 30px;
}

.contato h4{
	font-size: 22px;
	color: #1b1d5e;
	font-family: 'open-sans-italic';
}

.contato p.tel{
	font-size: 24px;
	color: #1b1d5e;
	font-family: 'open-sans-bold';
	margin-left: 25px;
}

.contato p.tel span{
	font-size: 18px;
}

.contato p.tel::before{
	content: url('../images/tel.png');
	position: relative;
	top: 9px;
	left: -15px;
}

.contato p.email{
	font-size: 18px;
	color: #1b1d5e;
	font-family: 'open-sans-italic';
	margin-left: 25px;
}

.contato p.email::before{
	content: url('../images/email.png');
	position: relative;
	top: 5px;
	left: -15px;
}

.contato .box-loja{
	width: 290px; height: 290px;
	float: left;
	border-radius: 20px;
	border-top-right-radius: 0;
	background-color: #1b1d5e;
	position: absolute;
	bottom: -40px;
	padding: 40px 32px;
}

.contato .box-loja a{
	display: block;
	width: auto; height: auto;
	float: left;
	text-align: center;
	position: absolute;
	left: 50%;
	top: -47px;
	margin-left: -47px;
}

.contato .box-loja a img{
	width: auto; height: auto;
	float: left;
}

.contato .box-loja p.nl{
	font-size: 24px;
	color: #ffffff;
	font-family: 'intro-black';
	text-align: center;
	margin-top: 40px;
}

.contato .box-loja p{
	font-size: 22px;
	color: #9acaff;
	font-family: 'intro';
	text-align: center;
	line-height: 26px;
	margin-top: 20px;
}

.contato textarea{
	width: 100%; height: 160px;
	float: left;
	background-color: #ffffff;
	border-radius: 10px;
	border:  1px solid #bababa;
	margin: 10px 0;
	padding: 20px 0 0 15px;
	font-size: 18px;
	color: #2c2c2c;
	font-family: 'open-sans';
}

.contato input{
	width: 49%; height: 60px;
	float: left;
	background-color: #ffffff;
	border-radius: 10px;
	border:  1px solid #bababa;
	margin: 10px 0;
	padding: 0 0 0 15px;
	font-size: 18px;
	color: #2c2c2c;
	font-family: 'open-sans';
}

.contato input[type="email"]{
	width: 100%;
}

.contato input.f-n{
	margin-right: 1%;
}

.contato input.f-t{
	margin-left: 1%;
}

.contato button{
	width: 190px; height: 60px;
	float: left;
	background-color: #1b1d5e;
	border-radius: 30px;
	color: #ffffff;
	font-size: 20px;
	font-family: 'open-sans-bold';
	border: none;
	margin-top: 10px;
}

.mapa{
	width: 100%; height: 660px;
	float: left;
	border-top: 6px solid #d4d4d4;
	background: url('../images/tmp/mapa-fake.jpg') no-repeat center top;
}















/* ____________________Media queries____________________ */

@media (max-width: 1199px){




}
@media (max-width: 992px){

.contato input{
	width: 100%;
	margin: 10px 0;
}

.contato input.f-t{
	margin-left: 0;
}


}
@media (max-width: 767px){

.contato h3.sub{
	font-size: 24px;
	margin-bottom: 15px;
}

.contato h4{
	font-size: 18px;
}

h2.title {
    font-size: 24px;
    line-height: 61px;
    left: 54px;
    margin-top: -94px;
}

h2.title::after{
	content: url('../images/h2-after-r.png');
	position: absolute;

}

h2.title::before{
	content: url('../images/h2-before-r.png');
	position: absolute;
	left: -54px;
}

.contato p.email{
	font-size: 16px;
	margin-left: 11px;
}

.contato p.email::before{
	left: -8px;
}

.contato .col-xs-12{
	padding: 0;
}

.contato textarea,
.contato input,
.contato button{
	margin: 5px 0;
	border-radius: 5px;
}

.contato .box-loja{
	width: 260px;
	height: 260px;
	left: 50%;
	margin-left: -130px;
	bottom: -20px;
}

.contato button{
	margin-bottom: 280px;
	position: relative;
	left: 50%;
	margin-left: -95px;
}

.mapa{
	height: 400px;
}


}