.galeria {
    width: 100%;
    height: auto;
    float: left;
}

.galeria h2 {
    margin: 0 0 45px;
    font-family: 'montserrat';
}

.galeria select.estilizado {
    margin-bottom: -20px;
}

.galeria a.box-galeria {
    margin: 40px 0 0 0;
    position: relative;
}

.galeria a.box-galeria:last-child {
    margin-bottom: 150px;
}

.galeria a.box-galeria figure { 
    width: 268px;
    height: 174px;
    margin-right: 20px;
    border: 3px solid #d0d3d4;
    border-radius: 3px;
    background: url(../images/tmp/banner.jpg) no-repeat center center;
    background-size: 100%;
    position: relative;
}

.galeria a.box-galeria:hover figure {
    background-size: 105%;
}

.galeria a.box-galeria > .box {
    width: 390px;
    position: absolute;
    bottom: 40px;
    float: left;
}

.galeria a.box-galeria > .box .h3 {
    margin: 10px 0;
    display: block;
}

.galeria a.box-galeria:hover > .box .h3 {
    color: #8e9296;
}

.galeria a.box-galeria .divide {
    width: 90%;
    height: 1px;
    background-color: #cacdcf;
    float: left;
    margin: 40px 0 0 0;
}

.galeria a.box-galeria:hover > .box .h3,
.galeria a.box-galeria > .box .h3,
.galeria a.box-galeria:hover figure,
.galeria a.box-galeria figure {
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

@media (max-width: 1199px) {
    .galeria .box-padding-35 {
        padding: 20px;
    }
    .galeria a.box-galeria figure {
        width: 200px;
        height: 134px;
    }
    .galeria a.box-galeria > .box {
        width: 320px;
    }
    .galeria a.box-galeria:last-child {
        margin-bottom: 100px;
    }
}

@media (max-width: 991px) {
    .galeria a.box-galeria figure {
        width: 100%;
        height: 224px;
        margin-right: 0;
    }
    .galeria a.box-galeria > .box {
        width: 100%;
        position: relative;
        bottom: inherit;
        float: left;
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    .galeria a.box-galeria figure {
        height: 295px;
    }
}

@media (max-width: 499px) {
    .galeria a.box-galeria figure {
        height: 230px;
    }
}

@media (max-width: 399px) {
    .galeria a.box-galeria figure {
        height: 195px;
    }
}

@media (max-width: 349px) {
    .galeria a.box-galeria figure {
        height: 175px;
    }
}