/* ____________________Media queries____________________ */

@media (max-width: 1199px){


 

}
@media (max-width: 992px){





}
@media (max-width: 767px){





}











