<?php require_once( $_SERVER['DOCUMENT_ROOT'] . '/wp-load.php' ); ?>
body{
	width: 100%; 
	height: auto; 
	min-height: 100% !important;
	margin: 0; 
	padding: 0; 	
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family:Impact, sans-serif;
	text-align: center;
}

@media (max-width: 699px){
	body{
		width: 100%; 
		height: auto; 
		min-height: 100% !important;
		margin: 0; 
		padding: 0; 
		background-position: center center;
		background-attachment: fixed;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		overflow: hidden;
	}
}

.container{
	width: 470px;
	height: 350px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin:-175px 0 0 -235px;
}

.container>img, .container>p, .container>div{
	display: inline-block;
}

.container>img{
	margin-top: 20px;
}
::selection,::-moz-selection {
	background:#FFF;
	color:#333;
}
#countdown_wrapper {
font-size:50px;
}
.span-n, .span-t{
	float: left;
	width: 25%;
	text-align: center;
}
.span-n{
	color: #a7cd45;
}
.span-t{
	color: #a7cd45;
	margin-top: -12px;
	padding-top: 0;
}
.container>p{
	margin-bottom: 0;
	background-color: #fff;
	border-radius: 2px;
	font-size: 15px;
	padding: 8px 13px;
	color:#00596a;
}
#t7_timer{
	width: 470px;
	margin:20px auto 0 auto;
}
.redes{
	display: inline-block;
	margin-top: 15px;
	height: 39px;
	background-color: #fff;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
}
.btn-sd i:before, .btn-footer i:before{
    font-family: iconsd!important;
    font-size: 28px;
    line-height: 28px;
    font-style: normal;

}
.btn-footer i:before{
	line-height: 1px;
	margin-top: 9px;
	margin-bottom:3px;
	width: 39px;
	float: left; 
}
a{
	text-decoration: none;
}
.btn-sd{
	width: 53px;
	padding: 6px;
	float: left;
	color: #a7cd45;
	font-size: 25px;
	text-align: center;
}

.btn-footer{
	padding:13px 3px;
	float: left;
	color: #ffffff;
	text-align: center;
	background-color: #a7cd45
}
.ic-ligar{
	background-color: #e5e4e4;
	color: #00596a;
}
.numero-telefone{
	background-color: #f1f1f1;
	color: #00596a;
	line-height: 13px;
	padding: 13px 15px;
}

a:hover{
	text-decoration: none;
}
a.btn-sd:hover{
	color:#00596a!important;
}
a.btn-footer:hover{
	color:#00596a;
}
a.numero-telefone:hover, a.ic-ligar:hover{
	color: #000;
}