.topo{
	width: 100%; height: 440px;
	float: left;
	background: url('../images/bg-sn.jpg') no-repeat center top -160px fixed;
	margin-top: 58px;
	border-bottom: 8px solid #e80f17;
}

h2.title{
	font-size: 34px;
	color: #ffffff;
	font-family: 'intro-black';
	margin-top: -100px;
	background-color: #e80f17;
	line-height: 71px;
	position: relative;
	left: 47px;
	width: auto;
	float: left;
}

h2.title::after{
	content: url('../images/h2-before.png');
	position: absolute;

}

h2.title::before{
	content: url('../images/h2-after.png');
	position: absolute;
	left: -47px;
}

.sobre-nos{
	width: 100%; height: auto;
	float: left;
	padding: 60px 0 120px 0;
}

.sobre-nos h4{
	font-size: 30px;
	color: #e80f17;
	font-family: 'intro-bold';
	margin: 60px 0 30px 0;
	text-transform: uppercase;
}

.sobre-nos figure{
	width: 100%; height: auto;
	float: left;
	margin: 60px 0 0 0;
	border-radius: 20px;
	border-top-right-radius: 0;
	overflow: hidden;
}

.sobre-nos figure img{
	width: 100%; height: auto;
	float: left;
}

.sobre-nos p{
	font-size: 18px;
	color: #2c2c2c;
	font-family: 'open-sans';
}

/* ____________________Media queries____________________ */

@media (max-width: 1199px){




}
@media (max-width: 992px){

.sobre-nos p{
	font-size: 16px;
}



}
@media (max-width: 767px){

.topo {
    background: url(../images/bg-sn.jpg) no-repeat center top 90px fixed;
    margin-top: 88px;
    background-size: 740px;
    height: 260px;
}

h2.title{
	font-size: 28px;
	line-height: 61px;
	left: 54px;
}

h2.title::after{
	content: url('../images/h2-after-r.png');
	position: absolute;

}

h2.title::before{
	content: url('../images/h2-before-r.png');
	position: absolute;
	left: -54px;
}

.sobre-nos{
	padding: 70px 0 30px 0;
}

.sobre-nos .container{
	padding: 0;
}

.sobre-nos h4 {
    font-size: 20px;
    margin: 10px 0 20px 0;
}

.sobre-nos p{
	font-size: 15px;
	text-align: justify;
}

.sobre-nos figure{
	margin-top: 20px;
}


}


